.register-form{
    background-color: black !important;
    width: 100%;
}
.register-form .card-header{
    background-color: rgba(0, 44, 220, 0.29) !important;
    border: 1px solid rgba(206, 234, 255, 0.232) !important;
}